<section>
    <img class="d-block mx-auto logo" style="width:100%" src="/image/SnapsCoffeeShopLogo.png" alt="logo" />
    <form class="form-group {{action}}">
        <div class="form-group">
            <label for="username-input">Username</label>
            <input type="text" class="form-control" id="username-input" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button class="btn btn-success btn-block" type="submit">
            {{action}}
        </button>
        <div>
            {{#if newUser}}
            <p>Have account already? click here to <a href="/login" class="f6 link dim black db">Login</a></p>
            {{else}}
            <p>Doesn't have an account yet? click here to <a href="/" class="f6 link dim black db">SignUp</a></p>
            {{/if}}
        </div>
    </form>
</section>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/{{action}}.js"></script>