<header>
    <nav></nav>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-3 menu">
                <article class="mb-4">
                    <h3 class="menu-category"><i class="fas fa-coffee"></i> Coffe</h3>
                    <ul class="list-unstyled">
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                    </ul>
                </article>
                <article class="mb-4">
                    <h3 class="menu-category"><i class="fas fa-mug-hot"></i> Tea</h3>
                    <ul class="list-unstyled">
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                    </ul>
                </article>
                <article class="mb-4">
                    <h3 class="menu-category"><i class="fas fa-utensils"></i> PASTRIES</h3>
                    <ul class="list-unstyled">
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                        <li class="menu-item">
                            <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1194&q=80"
                                alt="Latte" class="menu-img">
                            <h3>Latte</h3>
                        </li>
                    </ul>
                </article>

            </div>
            <div class="col-6">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1553964692-888ccdb8aa7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title title">Latte</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <button class="btn btn-warning btn-block text-white submit_order">Place order</button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Current Orders
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group current_orders">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Past Orders
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group past_orders"></ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/members.js"></script>
<script src="/js/order.js"></script>